.App {
  font-family: sans-serif;
  text-align: center;
}
.super {
  color: blue;
  font-style: italic;
}
.actors {
  border-radius: 50%;
}

.prof{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
}

